<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Hope</title>
    <link rel="stylesheet" href = ../styles/global.css>
    <link rel="stylesheet" href = style.css>
    <link rel="icon" href="../assets/img/IconProjetoHope.png" type="image/x-icon"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <header id="navbar" class="navbar">
        <div class="navbar__logo">
        <a href = index.html> 
            <img src="../assets/img/LogoProjetoHope8.png" alt="Logo do Projeto"/> 
        </a>
        </div>
        <nav>
            <ul class="navbar__items">
                <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
                <li class="navbar__item dropdown">
                    <a href="#energias">Energias renováveis</a>
                    <ul class="dropdown-menu">
                        <li><a href="../energiasolar/index.html">Energia solar</a></li>
                        <li><a href="../energiahidrelétrica/index.html">Energia hidrelétrica</a></li>
                        <li><a href="../energiaeolica/index.html">Energia eólica</a></li>
                    </ul>
                </li>
                <li class="navbar__item"><a href="https://linktr.ee/victorbrotto ">Quem somos</a></li>
            </ul>
        </nav>
    </header>

    <section>

            <div class="videobackground">
                <video src="../assets/videos/VideoBackground.mp4" autoplay muted loop></video>
                
            </div>
    </section>
   


    <section>
        <div class="sustainable-message">
            <h2>A energia renovável é o caminho para um mundo mais <br> verde e sustentável</h2>
        </div>

    </section>

    <section>
        <div class="energysection" id="energias">
            <div class="energysection--left">
                <div data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true"> <img src="../assets/img/Imagem1.jpg"/></div>
                <div data-aos="fade-left" data-aos-duration="1500">
                    <h2>Transforme seu futuro com energia solar</h2>
                    <p>Descubra como você pode economizar e contribuir para um planeta mais sustentável.</p>
                    <button onclick="window.location.href='../energiasolar/index.html'">Saiba mais</button>
                </div>

            </div>

            <div class="energysection--right">
                <div data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                    <h2>Ventos que movem o futuro, explore sobre energia eólica</h2>
                    <p>Descubra como você pode economizar e contribuir para um planeta mais sustentável.</p>
                    <button>Saiba mais</button>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true"> <img src="../assets/img/Imagem2.jpg"/></div>

            </div>

            <div class="energysection--left">
                <div data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true"> <img src="../assets/img/Imagem4.jpg"/></div>
                <div data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                    <h2>Energia hidrelétrica: a força renovável das águas</h2>
                    <p>Descubra como você pode economizar e contribuir para um planeta mais sustentável.</p>
                    <button onclick="window.location.href='../energiahidrelétrica/index.html'">Saiba mais</button>
                </div>

            </div>
        </div>
    </section>

    <footer> 
        <div class="footer">   
            <ul class="footer__items">
                <li class="footer__item"><a href="#">Início</a></li>
                <li class="footer__item">
                    <a href="#energias">Energias renováveis</a>
                </li>
                <li class="footer__item"><a href="https://linktr.ee/victorbrotto ">Quem somos</a></li>
            </ul>
            <div class="footer__logo">
                <p>2024  &copy;  Projeto Hope</p>
            </div>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
  </script>
</body>
</html>