<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia eólica</title>
    <link rel="stylesheet" href=../styles/global.css>
    <link rel="stylesheet" href=style.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../assets/img/IconProjetoHope.png" type="image/x-icon">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="navbar" id="navbar">
            <div class="navbar__logo">
                <a href="../../index.html">
                    <img src="../assets/img/LogoProjetoHope8.png" alt="Logo do Projeto" />
                </a>
            </div>
                <nav>
                    <ul class="navbar__items">
                        <li class="navbar__item"><a href="../../index.html">início</a></li>
                        <li class="navbar__item dropdown">
                            <a href="#">energias renováveis</a>
                            <ul class="dropdown-menu">
                                <li><a href="../energiasolar/index.html">energia solar</a></li>
                                <li><a href="../energiahidrelétrica/index.html">energia hidrelétrica</a></li>
                                <li id="dropdown-eolica"><a href="../energiaeolica/index.html">energia eólica</a></li>
                            </ul>
                        </li>
                        <li class="navbar__item"><a href="https://linktr.ee/victorbrotto ">quem somos</a></li>
                    </ul>
                                  
                    <div class="navbar__menu-icon">
                        <button onclick="menuShow()"><i class="fa-solid fa-bars"></i></button>
                    </div> 

            
            </nav>
        
        </div>
           
            <div class="navbar__mobile">
                <ul class="navbar__items">
                    <li class="navbar__item"><a href=#>início</a></li>
                    <li class="navbar__item dropdown">
                        <a href="#">energias renováveis</a>
                        <ul class="dropdown-menu">
                            <li><a href="views/energiasolar/index.html">energia solar</a></li>
                            <li><a href="views/energiahidrelétrica/index.html">energia hidrelétrica</a></li>
                            <li id="dropdown-eolica"><a href="views/energiaeolica/index.html">energia eólica</a></li>
                        </ul>
                    </li>
                    <li class="navbar__item"><a href="https://linktr.ee/victorbrotto ">quem somos</a></li>
                </ul>
            </div>
      
    </header>


    <section>
        <div class="esolar-beneficios__title">
            <h2>benefícios da energia eólica</h2>
        </div>

        <div class="esolar-beneficios__container">

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon">
                            <i class="fi fi-rs-wind"></i> <!-- Ícone relacionado ao vento -->
                        </div>
                        <span>01</span>
                        <h2>fonte de energia renovável</h2>
                        <p> Utiliza o vento, um recurso natural e inesgotável, para gerar eletricidade sem esgotá-lo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon">
                            <i class="fas fa-leaf icone-leaf"></i>
                        </div>
                        <span>02</span>
                        <h2>baixas emissões de gases de efeito estufa</h2>
                        <p> As usinas eólicas emitem praticamente nenhum poluente, ajudando a reduzir as emissões de
                            gases de efeito estufa.</p>
                    </div>
                </div>
            </div>

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon">
                            <i class="fi fi-rs-bolt"></i>
                        </div>
                        <span>03</span>
                        <h2>capacidade de geração contínua</h2>
                        <p>Usinas eólicas podem gerar energia continuamente, aproveitando a força do vento,
                            principalmente em regiões com ventos constantes.</p>
                    </div>
                </div>
            </div>

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon"><i class="fi fi-rs-usd-circle"></i></div>
                        <span> 04
                        </span>
                        <h2>despesas operacionais menores</h2>
                        <p> Após a construção, os custos operacionais são relativamente baixos, pois o vento é gratuito
                            e a manutenção das turbinas é simples.</p>
                    </div>
                </div>
            </div>

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon"><i class="fi fi-rs-shield"></i>
                        </div>
                        <span>05</span>
                        <h2>segurança energética</h2>
                        <p> A energia eólica assegura uma geração contínua de eletricidade, contribuindo para a
                            estabilidade energética de um país, desde que haja ventos suficientes.</p>
                    </div>
                </div>
            </div>

            <div class="esolar-beneficios__card" data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
                <div class="esolar-beneficios__box">
                    <div class="esolar-beneficios__content">
                        <div class="esolar-beneficios__icon"><i class="fa fa fa-wind"></i></div>
                        <span>06</span>
                        <h2>baixo impacto ambiental</h2>
                        <p> Muitas usinas eólicas podem ser construídas em áreas pouco afetadas pela urbanização, como
                            regiões rurais ou offshore, minimizando o impacto ambiental.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section>
        <div class="secondbackground">
        </div>
    </section>

    <section>
        <div class="esolar-duvidas__container">
            <h2 data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">perguntas frequentes</h2>

            <div class="esolar-duvidas__accordion">

                <div class="esolar-duvidas__accordion-header">
                    <button data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                        <span><img src="../assets/img/eolicaIcon2.png"></img>
                            como a energia eólica é gerada?
                        </span>
                        <i class="fa-solid fa-chevron-down arrow"></i>
                    </button>
                </div>

                <div class="esolar-duvidas__accordion-body">
                    <p>A energia eólica é gerada a partir do movimento do ar. Quando o vento passa pelas turbinas
                        eólicas, as pás dessas turbinas começam a girar. Esse movimento faz com que a energia cinética
                        do vento seja transformada em energia mecânica pelas turbinas e, por meio de geradores, em
                        eletricidade.</p>
                </div>

            </div>

            <div class="esolar-duvidas__accordion">
                <div class="esolar-duvidas__accordion-header">
                    <button data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                        <span>
                            <img src="../assets/img/eolicaIcon1.png"></img>
                            se não houver vento, a turbina para de gerar energia?
                        </span>
                        <i class="fa-solid fa-chevron-down arrow"></i>
                    </button>
                </div>
                <div class="esolar-duvidas__accordion-body">
                    <p>Sim, a geração de energia eólica depende da presença de vento. Sem vento suficiente, as turbinas
                        eólicas não conseguem capturar energia do ar para transformá-la em eletricidade. No entanto, o
                        sistema pode ser complementado por outras fontes de geração, como energia solar ou hidráulica,
                        para manter a estabilidade do sistema elétrico.</p>
                </div>

            </div>

            <div class="esolar-duvidas__accordion">
                <div class="esolar-duvidas__accordion-header">
                    <button data-aos="fade-right" data-aos-duration="2500" data-aos-once="true">
                        <span><img src="../assets/img/eolicaIcon3.png"></img>
                            por que o Brasil utiliza tanto a energia eólica?
                        </span>
                        <i class="fa-solid fa-chevron-down arrow"></i>

                    </button>
                </div>
                <div class="esolar-duvidas__accordion-body">
                    <p>O Brasil possui vastas áreas com ventos constantes e recursos naturais favoráveis para a
                        instalação de turbinas eólicas. Essa fonte de energia é renovável, limpa e sustentável,
                        contribuindo significativamente para a matriz energética brasileira. Além disso, é uma
                        alternativa que reduz a dependência de fontes fósseis e promove a diversificação da matriz
                        energética.</p>
                </div>
            </div>

            <div class="esolar-duvidas__accordion" id="last_accordion">
                <div class="esolar-duvidas__accordion-header">
                    <button data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
                        <span>
                            <img src="../assets/img/eolicaIcon4.png"></img>
                            é seguro viver perto de parques eólicos?
                        </span>
                        <i class="fa-solid fa-chevron-down arrow"></i>
                    </button>
                </div>
                <div class="esolar-duvidas__accordion-body">
                    <p>Sim, os parques eólicos são construídos com rigorosos padrões de segurança para minimizar
                        impactos à saúde e ao meio ambiente. As turbinas eólicas são projetadas para operar de forma
                        segura e eficiente, e os parques eólicos são geralmente instalados em áreas rurais com baixo
                        risco para a população. Além disso, estudos demonstram que as turbinas eólicas não representam
                        perigo significativo para a saúde ou segurança.</p>
                </div>
            </div>

        </div>
    </section>

    <section>
        <div class="thirdbackground">
        </div>
    </section>

    <section>


        <div class="esolar-funcionamento">


            <div class="esolar-funcionamento__background">

                <div class="esolar-funcionamento__video" data-aos="zoom-in" data-aos-duration="1500"
                    data-aos-once="true">
                    <iframe src="https://www.youtube.com/embed/xy9nj94xvKA?cc_load_policy=1&cc_lang_pref=pt-BR"
                        title="How do wind turbines work? - Rebecca J. Barthelmie and Sara C. Pryor" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="esolar-funcionamento__description" data-aos="fade-left" data-aos-duration="2000"
                    data-aos-once="true">
                    <h2>como funciona a energia eólica?</h2>
                    <p>Confira o vídeo explicativo ao lado e aprenda mais sobre o tema.</p>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer">
            <ul class="footer__items">
                <li class="footer__item"><a href="../../index.html">início</a></li>
                <li class="footer__item">
                    <a href="#">energias renováveis</a>
                </li>
                <li class="footer__item"><a href="https://linktr.ee/victorbrotto ">quem somos</a></li>
            </ul>
            <div class="footer__logo">
                <p>2024 &copy; Projeto Hope</p>
            </div>
        </div>


    </footer>



</body>

<script src="script.js"> </script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>